@import url('https://fonts.googleapis.com/css?family=Lalezar|Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}
body,html{
    width: 100%;
    height: 100%;
}
body{
    box-sizing: border-box;
    font-size: 1rem;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: rgb(53, 50, 50);
}
header {
    
    position: fixed;
    width: 100%;
    background: #ffffff;
    z-index: 2;
    box-shadow: 10px 5px 10px #333;
}
header .menu-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

header .menu-top .logo-left h1{
    text-transform: uppercase;
}
header .menu-top .logo-left h1 span{
    color: rgb(201, 92, 92);
}


#menu{
    
    display: flex;
    justify-content: center;
    list-style: none;
}
#menu li{
    padding: 0 10px;
}
#menu li a{
    text-transform: uppercase;
}
#menu li a:hover{
    color: rgb(221, 56, 56);
}

.menu-right label,#menu-toggle{
    display: none;
}

.banner{
    width: 100%;
    height: 100%;
    background-color: #e9585f;
    position: relative;
}
.banner::before{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    background-color: #e4555b ;
    width: 50%;
    height: 100%;
}
.iam{
    position: absolute;
    top: 24%;
    left: 0;
    text-align: center;
}
.iam img{
    width: 10%;
    border-radius: 50%;
}
.iam h3{
    padding: 1rem 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 2rem;
}
.iam p{
    padding: 1rem 0 2rem 0;
    color: #ffffff;
}
.iam button{
    padding: 0.5rem 1rem;
    background-color:rgb(29, 29, 29);
    color: #ffffff;
    cursor: pointer;
    border: 1px black solid;
    transition: 0.5s;
}
.iam button:hover{
    background-color: #ffffff;
    color: rgb(29, 29, 29);
}
.about-me {
    padding-top: 2rem;
}
.section-title{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
.section-title h2{
    font-weight: 300;
    color: #333;
    position: relative;
}
.section-title h2:after{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 46%;
    height: 1px;
    width: 50px ;
    background:  #e4555b;
}
.section-title p{
    padding-top: 20px;
    color: #333;
}
.about-detail{
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding-top: 3rem;
}
.col-4{
    width: 33.3333333%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.about-detail-left{
    text-align: right;
}
.about-detail-center img{
    width: 100%;
}
.about-detail .item{
    padding: 20px 10px;
}
.about-detail .item h4{
    font-size: 2rem;
    font-weight: 300;
    color: #333;
}
@media (max-width: 576px){
    .menu-top{
        position: relative;
    }
    #menu{
        width: 100%;
        overflow: hidden;
        max-height: 0;
        flex-direction: column;
        text-align: center;
        position: absolute;
        top: 55px;
        left: 0;
        background-color: #ffffff;
        -webkit-transition: 0.5s;
    }
    #menu li{
        padding-top: 5px;
    }
    .menu-right label{
        display: inline-block;
        float: right;
    }
    #menu-toggle:checked + #menu{
        max-height: 120px;
    }
    
}
@media (max-width: 768px){
    .about-detail{
        display: flex;
        flex-direction: column;
        
    }
    .col-4{
        width: 100%;
        text-align: center;
    }
}



